* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  /*   background-color: rgb(255, 248, 248); */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}
h2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: #3288bd;
}
h3 {
  color: #3288bd;
}
header {
  height: 35px;
  width: 100%;
  background-color: #313695;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
a {
  text-decoration: none;
  color: #e0f3f8;
}

.dashboard {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /*   background-color: aquamarine; */
}

.leftMap {
  /*   background-color: blueviolet; */
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.maps {
  height: 600px;
  width: 600px;
  /* position: fixed; */
}

.labelBox {
  width: 100%;
  height: 160px;
  /*   background-color: rgb(69, 117, 180); */
  margin-top: -160px;
  border-style: solid;
  border-color: #4575b4;
  border-radius: 20px;
}

.rightGraphs {
  width: 900px;
  height: 600px;

  /*   background-color: crimson; */
}

.topGraphs {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  /*   background-color: cadetblue; */
}
.bottomGraphs {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  /*   background-color: cornflowerblue; */
}

.subGraph1 {
  width: 64%;
  border-style: solid;
  border-color: #4575b4;
  border-radius: 20px;
  /* border-radius: 10px; */
  /* border-style: inset; */
}
.subGraph2 {
  width: 35%;
  border-style: solid;
  border-color: #4575b4;
  border-radius: 20px;
}
.subGraph3 {
  width: 64%;
  border-style: solid;
  border-color: #4575b4;
  border-radius: 20px;
}
.subGraph4 {
  width: 35%;
  border-style: solid;
  border-color: #4575b4;
  border-radius: 20px;
}

.states {
  /* fill: none; */
  fill: #abd9e9;
  fill-opacity: 1;
}
.states :hover {
  fill: rgb(52, 94, 25);
}

.state-borders {
  fill: none;
  stroke: #313695;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

#tooltip {
  width: 50px;
  height: auto;
  padding: 10px;
  pointer-events: none;
}

.ttp {
  font-size: 15px;
  font-family: Optima, Futura, sans-serif;
  /* text-decoration: underline; */
  background-color: rgb(226, 226, 240);
  position: absolute;
  width: 200px;
  height: 78px;
  pointer-events: none;
  color: rgb(9, 23, 63);
}
.vid {
  display: flex;
  justify-content: space-around;
}
.hd {
  display: flex;
  justify-content: space-around;
}

footer {
  /* margin-top: 50px; */
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 0 105px; */
  background-color: #313695;
}
.footnotes h2 {
  color: #e0f3f8;
}
.footnotes {
  font-size: 14px;
  font-family: RobotoLight;
}
